.particle-line-container {
  position: relative;
  width: 100%;
  height: 200px;
  margin-bottom: 4em;
  pointer-events: none;
  overflow: hidden;
}

.particle-line-canvas {
  width: 100%;
  height: 100%;
  display: block;
}


